.lado{
    display: inline-block;
    

}
html{
    background-color:white;
}
.ex1{
    width: 960px;
    height: 70px;
    background: #000000;
    border-radius: 50px;
    margin-top: 3%;
    margin-left: 25%;
    color: white;
    text-align: center;
    font-size: 40px;
}
.left{
    width: 350px;
    height: 450px;
    background: rgb(255, 255, 255);
    margin-top: 0%;
    margin-left: -99%;
    border-radius: 50px;
    border: 5px solid;
    border-color: black;
    
}
.middle{
    width: 350px;
    height: 450px;
    background: rgb(255, 255, 255);
    margin-top: -127.5%;
    margin-left: 5%;
    border-radius: 50px;
    border: 5px solid;
    border-color: black;
}
.right{
    width: 350px;
    height: 450px;
    background: rgb(255, 255, 255);
    margin-top: -128%;
    margin-left: 108%;
    border-radius: 50px;
    border: 5px solid;
    border-color: black;
}
.img1{
    width: 200px;
    height: 150px;
    margin-top: 5%;
}
hr{
    height: 2px;
    width: 330px;
    background-color: black;
}
.minirio{
    font-size: 15px;
    color: black;
    margin-top: -3%;
}
h2{
    margin-top:-5%;
    color: black;
    font-size: 30px;
    text-align: left;
    margin-left: 3%;
}
.riotext{
    color: black;
    font-size: 20px;
    text-align: left;
}
a{
    margin-left: -75%;
    font-size: 20px;
}
.img2{
    width: 200px;
    height: 150px;
    margin-top: 5%;
}
.minifort{
    font-size: 15px;
    color: black;
    margin-top: -3%;

}
.forttext{
    color: black;
    font-size: 20px;
    text-align: left;

}
.img3{
    width: 200px;
    height: 150px;
    margin-top: 5%;
    
}
.minimaceio{
    font-size: 15px;
    color: black;
    margin-top: -3%;
}
  

    