body{
    display: flex;
    font-family: Verdana;
}
.orangebox{
    width:200px ;
    height: 200px;
    background-color: rgb(224, 184, 110);
    margin-top: 17%;
    margin-left: 30%;
    border-radius: 20px;
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.redbox{
    width:550px ;
    height: 200px;
    background-color: rgb(233, 85, 85);
    margin-top: 17%;
    margin-left: 1%;
    border-radius: 20px;
    border: 2px solid red;
    font-size: 17px;
    
}
.ajusttext{
    margin-left: 7px;
}
